<div id="demos">
  <div class="epk">
    <div class="panel">
      <div class="epk-content">
        <div id="shout" class="panel shout-panel">
          <h1>Entreuse MEDIA KIT DEMOS</h1>
        </div>
        <!-- begin main epk content -->
        <div class="row">
          <div class="col-xsm-12 col-sm-12 col-md-9 col-lg-9 col-xlg-9">
            <article class="epk-locker-display">
              <div class="epk-heading">
                <div class="row">
                  
                  
                  
                  <div class="col-xsm-12 col-sm-12 col-md-5 col-lg-5 col-xlg-5">
   <%= image_tag "dean-orion-live-to-write.png", :class => "img-center img-responsive", :title => "Live to write another day cover art" %>
</div>
<div class="col-xsm-12 col-sm-12 col-md-7 col-lg-7 col-xlg-7">
  <p class="rubric rubric-lg"><a data-toggle="modal" data-target="#epkHeadline">Clean Presentations</a></p>
  <h1>Live to Write Another Day<small>, A Survival Guide for Screenwriters and Creative Storytellers</small></h1>
  <h2>Live to Write Another Day<small>, A Survival Guide for Screenwriters and Creative Storytellers</small></h2>
  <p>Not too long ago I decided to write a book about my creative writing process, and the many experiences that I have had throughout my career. The inspiration behind it was pretty straightforward. I simply wanted to share what I havve learned over the past 25+ years with other writers.</p>
  <p class="text-right"><a data-toggle="modal" data-target="#epkHeadline">
      more. . .
    </a></p>
  <!-- Button trigger modal -->
</div>
                  
                  
                  
                </div>
              </div>
              <div class="row epk-display-row">
                
                <div id="ltwad" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                  
                
                </div>
                <div id="bartKresa" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                  
                </div>
                
              </div>
              <div class="row epk-display-row">
                
                <div id="greenIdeaHouse" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                  
                </div>
                <div id="oss" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                  
                </div>
              </div>  

            </article><!-- end .epk-wrapper -->
          </div>
          
          <div class="col-xsm-12 col-sm-12 col-md-3 col-lg-3 col-xlg-3">
            <section class="rackmount">
              <div id="welcome">
                <h3 class="rubric">Welcome</h3>
              </div>
              
              <div class="socal-media-bar">
                
              </div>
              
            </section><!-- end .rackmount -->
          </div>
        </div>
      </div><!-- end .epk-content -->
    </div><!-- end .epk-wrapper -->
  </div><!-- end .epk -->
</div><!-- end #demos -->