                <ul>
                  <li><%= link_to 'blog', "http://www.thewritergene.com/blog", :target => "_blank" %>
                  </li>
                  <li>
                      <%= link_to 'imdb', "http://www.imdb.com/name/nm0649870/", :target => "_blank" %>
                  </li>
                  <li>
                      <%= link_to '', "https://www.linkedin.com/pub/dean-orion/0/613/b96", :class => "fa fa-linkedin-square", :target => "_blank" %>
                  </li>
                </ul>