<article class="heading">






<!-- Modal -->
<div class="modal fade" id="biography" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Biography</h4>
      </div>
      <div class="modal-body">
        <h1>Book Info Sheet General</h1>
        <p>Are you passionate about telling stories?  Were you born to be a creative writer?  Do you love writing but sometimes feel that, for any number of reasons, it doesn’t always love you back?</p>
        <p>Well, you’re definitely not alone.  Creative writers everywhere, at every level, experience these same emotions when it comes to their work.  But that doesn’t mean they can’t be overcome.  In Live To Write Another Day, A Survival Guide for Screenwriters and Creative Storytellers, author Dean Orion takes a simple, tell-it-like-it-is approach to both demystifying the nuts and bolts mechanics of storytelling and relieving the many psychological stresses of doing this crazy job for a living.</p>
        <p>When you buy this book you’ll get a step-by-step walk thru of the process of creating original stories, both “on spec” and “for hire,” as well as helpful hands-on checklists at the end of each chapter, all framed through the first hand experiences of a writer in the trenches.</p>
        <h4>You’ll learn:</h4>
        <ul>
          <li>How to turn procrastination into “a positive”</li>
          <li>How to deal with crisis moments</li>
          <li>How to kick off your writing project without ever staring at a blank page</li>
          <li>How to set the foundation of your project by writing a solid concept document</li>
          <li>When to keep your writing to yourself and when to expose it to criticism</li>
          <li>How to give, receive and execute script notes</li>
          <li>How to create a productive writing partnership</li>
          <li>How to pitch stories by pitching your personality</li>
          <li>And much more!</li>
        </ul>
        
        <p>Plus, as a writer who has worked in theater and television as well as on numerous videogames and theme park experiences, you’ll get Dean’s unique perspective on interactive narrative and the new frontier that these exciting new storytelling mediums hold for the future.</p>
        <p>Live To Write Another Day, A Survival Guide for Screenwriters and Creative Storytellers is a book that is as practical as it is inspirational, and as heartfelt and encouraging as it is brutally honest about what it really takes to be a professional creative writer.</p>
        <h4>Blurbs</h4>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      
      















“Dean Orion gets it – better than any book or course I know – about the journey each creative person must take to produce work that is not only meaningful but commercial.”
Tom Teicholz
Writer, Producer, and award-winning Jounalist of TOMMYWOOD.
“Dean Orion brings a fresh voice to the ancient art of storytelling in his pull-no-punches primer.  He not only helps you answer the age-old question, “Am I a writer?” but as a screenwriter, Disney Imagineer and interactivity expert extraordinaire he also helps you clear the hurdles of writing as a professional – an art in and of itself.”
Maria Alexander
Author and Interactive Designer
“If you’re smart enough to read LIVE TO WRITE ANOTHER DAY, Dean Orion will tell you that “writing is in his DNA.” And from my own professional experiences working with him, I know that to be very true.  Few working writers possess Dean’s ability to offer such open and honest insight into the dream-to-deadline reality of what it means to call yourself a scribe.  Luckily for all of us, he’s also chosen to share his adventures here. So make the journey a little easier on yourself. Read Dean Orion’s story and I promise you’ll have a much better time writing your own.”
Trey Callaway
Co-Executive Producer, CSI:NY, Professor, USC School of Cinematic Arts
“I found this book inspiring as a writer and as an executive.  Dean offers many valuable words of wisdom and gives us full insight into the process that he has developed over the his many years in the business, with concise, applicable tools that cross multiple disciplines.  After reading this book I immediately applied some of his tactics in my everyday life, and I am so grateful for the time it has saved me!  If you want a great process for cultivating inspiration to let the story flow out of you (instead of dragging it out as I typically did) then this is the book for you.”
Sybil Grieb
Author of BRILLIANCE AND ACCIDENTS, Publisher of SUBTEXT literary magazine, and Online Advertising Executive 
“If writing is 90% perspiration, then nobody knows how to sweat it out better than Dean Orion.   I’ve never met a more disciplined writer in my life.  If anyone knows how to Live To Write Another Day, it’s him.  And if you want to learn to do the same then this is the book for you.”
Karey Kirkpatrick
Screenwriter, CHICKEN RUN, Writer/Director, OVER THE HEDGE
{IMAGE-Book Cover}

Purchase Live To Write Another Day
reviews
“… funny, conversational, easy to read, and overall just a lot of fun… if you need to crack a good smile now and then and read the words of another author who understands your position, this is a good place to go.”
–  Readful Things Blog
“Live To Write Another Day is a real treasure for writers and everyone interested in the written word. This book is a survival guide for writers and an example of what excellent writing looks like. Highly recommended.”
–  Janette Fuller.com
“Live To Write Another day is only 132 pages long, but Orion writes in a very engaging style and if it’s a pep talk you are looking for, this book might just fit the bill.”
– A Writer in the Attic
“It connected to me…  in an easy and comfortable way – in a way everyone can relate (not just screenwriters).”
– UniqueThink.com
{IMAGE-Book Cover}
Purchase Live To Write Another Day

++++++Purchase Live To Write Another Day
Blurbs
“Dean Orion gets it – better than any book or course I know – about the journey each creative person must take to produce work that is not only meaningful but commercial.”
Tom Teicholz
Writer, Producer, and award-winning Jounalist of TOMMYWOOD.
“Dean Orion brings a fresh voice to the ancient art of storytelling in his pull-no-punches primer.  He not only helps you answer the age-old question, “Am I a writer?” but as a screenwriter, Disney Imagineer and interactivity expert extraordinaire he also helps you clear the hurdles of writing as a professional – an art in and of itself.”
Maria Alexander
Author and Interactive Designer
“If you’re smart enough to read LIVE TO WRITE ANOTHER DAY, Dean Orion will tell you that “writing is in his DNA.” And from my own professional experiences working with him, I know that to be very true.  Few working writers possess Dean’s ability to offer such open and honest insight into the dream-to-deadline reality of what it means to call yourself a scribe.  Luckily for all of us, he’s also chosen to share his adventures here. So make the journey a little easier on yourself. Read Dean Orion’s story and I promise you’ll have a much better time writing your own.”
Trey Callaway
Co-Executive Producer, CSI:NY, Professor, USC School of Cinematic Arts
“I found this book inspiring as a writer and as an executive.  Dean offers many valuable words of wisdom and gives us full insight into the process that he has developed over the his many years in the business, with concise, applicable tools that cross multiple disciplines.  After reading this book I immediately applied some of his tactics in my everyday life, and I am so grateful for the time it has saved me!  If you want a great process for cultivating inspiration to let the story flow out of you (instead of dragging it out as I typically did) then this is the book for you.”
Sybil Grieb
Author of BRILLIANCE AND ACCIDENTS, Publisher of SUBTEXT literary magazine, and Online Advertising Executive 
“If writing is 90% perspiration, then nobody knows how to sweat it out better than Dean Orion.   I’ve never met a more disciplined writer in my life.  If anyone knows how to Live To Write Another Day, it’s him.  And if you want to learn to do the same then this is the book for you.”
Karey Kirkpatrick
Screenwriter, CHICKEN RUN, Writer/Director, OVER THE HEDGE
{IMAGE-Book Cover}

Purchase Live To Write Another Day
reviews
“… funny, conversational, easy to read, and overall just a lot of fun… if you need to crack a good smile now and then and read the words of another author who understands your position, this is a good place to go.”
–  Readful Things Blog
“Live To Write Another Day is a real treasure for writers and everyone interested in the written word. This book is a survival guide for writers and an example of what excellent writing looks like. Highly recommended.”
–  Janette Fuller.com
“Live To Write Another day is only 132 pages long, but Orion writes in a very engaging style and if it’s a pep talk you are looking for, this book might just fit the bill.”
– A Writer in the Attic
“It connected to me…  in an easy and comfortable way – in a way everyone can relate (not just screenwriters).”
– UniqueThink.com
{IMAGE-Book Cover}
Purchase Live To Write Another Day


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



  
  
  
  
</article>